.u-section-1 .u-sheet-1 {
  min-height: 477px;
}

.u-section-1 .u-text-1 {
  margin: 19px auto 0 461px;
}

.u-section-1 .u-text-2 {
  margin: 6px 185px 0 167px;
}

.u-section-1 .u-image-1 {
  width: 365px;
  height: 243px;
  margin: 19px auto 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 380px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 67px;
    margin-right: 85px;
    width: 788px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 291px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 218px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 137px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 226px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 557px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: 24px 0 0 37px;
}

.u-section-2 .u-image-1 {
  width: 539px;
  height: 183px;
  margin: -235px 0 53px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 115px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 903px;
}

.u-section-3 .u-text-1 {
  margin: 75px 0 0;
}

.u-section-3 .u-image-1 {
  width: 517px;
  height: 302px;
  margin: -444px 87px 60px auto;
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-right: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 199px;
    margin-right: 0;
  }
}